{%- macro icon(name) -%}
{% autoescape false %}
{% filter replace('<svg ', '<svg aria-hidden="true" ') %}
    {% include "resources/" + name + ".svg" %}
{% endfilter %}
{% endautoescape %}
{%- endmacro -%}
{%- macro email(email) -%}
    <span class="text-nowrap">{{ email.split("@")[0] }}<span
            class="visually-hidden">noreply@test</span>&#64;{{ email.split("@")[1] }}</span>
{%- endmacro -%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="autofix.ci automatically fixes pull requests to increase developer productivity">
    <meta property="og:title" content="autofix.ci automatically fixes pull requests to increase developer productivity">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://autofix.ci/">
    <meta property="og:image" content="https://autofix.ci/logo/logo.png">
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/logo/logo.svg" type="image/svg+xml"/>
    {%- autoescape false %}{% filter replace("\n","") | replace("    ","") | replace("<s","\n    <s") -%}
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "SoftwareApplication",
                "name": "autofix.ci",
                "applicationCategory": "DeveloperApplication",
                "thumbnailUrl": "https://autofix.ci/logo/logo.svg",
                "image": "https://autofix.ci/logo/logo-brand.svg",
                "url": "https://autofix.ci/"
            }
        </script>
    {% endfilter %}{% endautoescape %}
    {%- block head %}{% endblock -%}
</head>
<body class="my-4">
<style>{% include 'resources/bootstrap.min.css' %}</style>
<style>
    .card-header pre {
        margin: 0;
    }

    .action-hash {
        text-overflow: ellipsis;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        color: #aaa;
    }

    .headerlink {
        color: var(--bs-secondary);
        position: absolute;
        transition: all 100ms ease-in-out;
        opacity: 0;
    }

    .headerlink::before {
        content: "#";
        line-height: 1.4em;
        font-size: 0.9em;
        position: absolute;
        left: calc(-1.2ex - 5px);
        width: calc(1.2ex + 5px);
    }

    *:hover > .headerlink,
    *:target > .headerlink,
    .headerlink:hover {
        opacity: 1;
    }

    *:target > .headerlink {
        color: var(--bs-primary);
    }
</style>
<header class="container text-center pb-4 mb-4">
    <a href="/">
        <img class="col-8 col-lg-5" alt="autofix.ci logo"
             src="data:image/svg+xml,{% filter urlencode %}{% include "logo/logo-brand.svg" %}{% endfilter %}">
    </a>
</header>
{% block body %}
{% endblock %}
<footer class="text-center mt-4 pt-4">
    <hr>
    <span class="m-1">© 2022 autofix.ci</span>
    &mdash;
    <a class="link-secondary m-1" href="https://github.com/autofix-ci/action">GitHub</a>
    <a class="link-secondary m-1" href="https://mailhide.io/e/2gxnSQJt" target="_blank">Contact</a>
    <a class="link-secondary m-1" href="/security">Security</a>
    <a class="link-secondary m-1" href="/privacy">Privacy Policy</a>
    <a class="link-secondary m-1" href="https://github.com/autofix-ci/action/issues">Issues</a>
</footer>
<script>
    (() => {
        const elems = document.querySelectorAll("h1[id], h2[id], h3[id], h4[id]");
        for (let e of elems) {
            let link = document.createElement("a");
            link.href = `#${e.id}`;
            link.classList.add("headerlink")
            e.prepend(
                link
            );
        }
    })();
</script>
</body>
</html>
