{% extends "frame.html.jinja2" %}
{% block head %}
    <title>autofix.ci: automatically fix pull requests</title>
{% endblock %}
{% block body %}
    <style>/* pygments */{{ pygments_css }}</style>
    <style>
        .card-header {
            height: 200px;
            display: flex;
            align-items: center;
        }

        .action-hash {
            width: 5rem;
        }

        #arrow {
            height: 34px;
            background-image: url("data:image/svg+xml,{% filter urlencode %}{% include "resources/arrow.svg" %}{% endfilter %}");
            background-repeat: no-repeat;
            background-position: center center;
        }

        #install-button {
            color: #fff;
            background-color: #5B9821;
            border-color: #5B9821;
        }

        #install-button:hover {
            color: #fff;
            background-color: #477917;
            border-color: #477917;
        }

        .used-by {
            display: inline-block;
            margin: .5rem;
            font-weight: 500;
            color: #212529;
            text-decoration: none;
        }
        .used-by img {
            border-radius: 6px;
            box-shadow: 0 0 0 1px rgba(27,31,36,0.15);
            width: 28px;
            margin-right: 8px;
        }
    </style>
    <main class="container text-center">
        <h1 class="my-4 fs-4 fw-normal text-center">
            <dfn class="fw-bold fst-normal">autofix.ci</dfn>
            automatically fixes pull requests to increase developer productivity.
        </h1>

        <a id="install-button" target="_blank" href="https://github.com/marketplace/autofix-ci#pricing-and-setup"
           class="my-lg-3 shadow btn btn-lg d-inline-flex align-items-center">
            {{ icon("github") }}
            &nbsp;
            Install on GitHub
        </a>

        <h2 class="mt-4">How It Works</h2>
        <div id="arrow" class="d-none d-lg-block"></div>
        <div class="row justify-content-center align-items-stretch">
            <div class="col-12 col-lg-6 mb-2">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="card-title fs-5">1. Define a GitHub Actions workflow.</h3>
                        <p class="card-text">Run your favorite code-fixing tools, then call <strong>autofix.ci</strong>.
                        </p>
                    </div>
                    <div class="card-header p-4 text-start justify-content-center">
                        <div class="col-12 col-xl-9" style="font-size: 1.1rem">
                            {{ example("demo.yml") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-body text-center">
                        <h3 class="card-title fs-5">2. Receive automatic fixes.</h3>
                        <p class="card-text">
                            <strong>autofix.ci</strong> securely updates your pull requests if necessary.
                        </p>
                    </div>
                    <div class="card-header p-3 p-xl-4" style="justify-content: center">
                        <img alt="a screenshot showing automated commits on GitHub" class="img-fluid"
                             style="max-width: 100%; justify-self: center; max-height: 160px"
                             src="{{ inline_image("resources/github-screenshot.png") }}">
                    </div>
                </div>
            </div>
        </div>

        <a target="_blank" href="/setup" class="my-4 shadow btn btn-warning btn-lg d-inline-flex align-items-center">
            {{ icon("book-half") }}
            &nbsp;
            See Example Actions
        </a>

        <h2 class="mt-4">Features</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 text-start fs-5">
                <ul>
                    <li>Works with your existing linters, formatters, bundlers, compilers, or other code fixers.</li>
                    <li>No configuration: Simply call the <strong>autofix.ci</strong> action when you want to update the
                        pull request.
                    </li>
                    <li>Supports <em>all</em> pull requests (including from forks) and branches without branch protection.</li>
                </ul>
            </div>
        </div>

        <h4 class="mt-4 mb-3">Used By</h4>
        {% set users = [
            {"login": "mermaid-js", "display": "Mermaid"},
            {"login": "Nuxt"},
            {"login": "vuejs", "display": "Vue.js"},
            {"login": "TanStack"},
            {"login": "mitmproxy"},
            {"login": "tRPC"},
            {"login": "slidevjs", "display": "Slidev"},
            {"login": "langflow-ai", "display": "Langflow AI"},
            {"login": "react-navigation", "display": "React Navigation"},
            {"login": "TabbyML"},
            {"login": "UnoCSS"},
            {"login": "oxc-project", "display": "oxc"},
            {"login": "oven-sh", "display": "Bun"},
            {"login": "UnJS"},
            {"login": "pdoc"},
        ]%}
        {% for user in users %}
            <a href="https://github.com/{{ user.login }}" class="used-by">
                <img alt="logo of {{ user.display or user.login }}" src="{{ inline_image("resources/used-by/" + (user.login | lower) + ".png") }}">{{ user.display or user.login }}
            </a>
        {% endfor %}
        and <a class="link-secondary" href="https://github.com/autofix-ci/action/network/dependents">many more.</a>
        {#
        <h2 class="mt-4">Pricing</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 text-start fs-5">
                <ul>
                    <li><strong>Always free for open source projects.</strong></li>
                    <li>Free for private and organization repositories while in preview.</li>
                    <li>For enterprise solutions and self-hosting, contact {{ email("enterprise@autofix.ci") }}.</li>
                </ul>
            </div>
        </div>
        #}

        <h2 class="mt-4">FAQ</h2>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 text-start fs-5">

                <h3 id="why" class="fs-5">Why is this useful?</h3>
                <ul>
                    <li>
                        Pull Requests are often blocked on relatively trivial issues such as code formatting or leftover
                        imports. Fixing these details is expensive as it requires additional roundtrips and context
                        switching. <strong>autofix.ci</strong> automatically fixes such problems, unblocking development
                        flow.
                    </li>
                </ul>

                <h3 id="why-does-this-require-an-app" class="fs-5">Why does this require an app?</h3>
                <ul>
                    <li>
                        For security reasons, pull requests from forked repositories do not have any write permissions
                        which they could use to update themselves. The <strong>autofix.ci</strong> app provides
                        pull requests with tightly-locked self-update capabilities. Alternative approaches such as
                        processing untrusted code in <samp>pull_request_target</samp> or passing around personal access
                        tokens are highly dangerous to outright insecure.
                    </li>
                </ul>

                <h3 id="which-platforms-are-supported" class="fs-5">Which platforms are supported?</h3>
                <ul>
                    <li>
                        <strong>autofix.ci</strong> supports GitHub Actions only.
                    </li>
                </ul>

                <h3 id="does-it-work-for-all-commits" class="fs-5">Does it work for all commits?</h3>
                <ul>
                    <li>
                        For safety reasons, <strong>autofix.ci</strong> will not apply patches if the last four commits
                        have been authored by a bot.
                        This avoids infinite loops with bots continuously correcting each other.
                    </li>
                </ul>

                <h3 id="under-the-hood" class="fs-5">What happens under the hood?</h3>
                <ul>
                    <li>
                        When you invoke the <strong>autofix.ci</strong> action, it will <code>git diff</code> the
                        current
                        repository, create an <code>autofix.json</code> file containing all changes, upload this file
                        as a GitHub Actions artifact, and notify the <strong>autofix.ci</strong> server.
                    </li>
                    <li>
                        The <strong>autofix.ci</strong> server fetches <code>autofix.json</code> from GitHub, validates
                        its contents, and pushes a new commit to the pull request branch using its GitHub App
                        credentials.
                    </li>
                </ul>

                <h3 id="is-it-secure" class="fs-5">Is it secure?</h3>
                <ul>
                    <li>
                        Yes, because we keep <strong>autofix.ci</strong>'s GitHub authentication token away from potentially untrusted
                        actions. By using <strong>autofix.ci</strong>, you only provide your auto-fixing workflow with
                        the capability to update the pull request branch once.
                        Please see <a href="/security">autofix.ci/security</a> for details.
                    </li>
                </ul>

                <h3 id="who-is-behind-autofix" class="fs-5">Who is behind autofix.ci?</h3>
                <ul>
                    <li>
                        <strong>autofix.ci</strong> is developed by <a href="https://github.com/mhils">Max Hils</a>.
                        Follow him on <a href="https://twitter.com/maximilianhils">Twitter</a> to see if he's
                        trustworthy.
                    </li>
                </ul>

                <p class="mt-4"><small>
                    If your question is not answered here, please open a GitHub issue or reach out to
                    {{ email("support@autofix.ci") }}.
                </small></p>
            </div>
        </div>

    </main>
{% endblock %}
