{% extends "frame.html.jinja2" %}
{% block head %}
    <title>autofix.ci: setup</title>
{% endblock %}
{% block body %}
    <main class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6">
                <h1>Setup</h1>

                TODO
            </div>
        </div>
    </main>
{% endblock %}
