name: autofix.ci
on:
  pull_request:
  push:
    branches: [ "main" ]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - run: pip install pre-commit
      - run: pre-commit run --all-files

      - uses: autofix-ci/action@7a166d7532b277f34e16238930461bf77f9d7ed8
