name: autofix.ci
on:
  workflow_call:
  pull_request:
  push:
    branches: [ "main" ]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # Fix lint errors with https://github.com/charliermarsh/ruff
      - uses: install-pinned/ruff@6aa2496b951062c5b1d6af67532bdb16a73f429e
      - run: ruff --fix-only .

      # Format code with https://github.com/psf/black
      - uses: install-pinned/black@c85e0ff69d4b988528e5ff20f79595edf3ac43ba
      - run: black .

      - uses: autofix-ci/action@d3e591514b99d0fca6779455ff8338516663f7cc
