name: autofix.ci
on:
  workflow_call:
  pull_request:
  push:
    branches: [ "main" ]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Fix lint errors with https://github.com/charliermarsh/ruff
      - uses: install-pinned/ruff@6d2c7fc92e687804d12fd2f3accf75a01bcb2fc7
      - run: ruff --fix-only .

      # Format code with https://github.com/psf/black
      - uses: install-pinned/black@3cdfba53cb4a8de1dc4588cea12aaf190b391e81
      - run: black .

      - uses: autofix-ci/action@8bc06253bec489732e5f9c52884c7cace15c0160
