name: autofix.ci
on:
  workflow_call:
  pull_request:
  push:
    branches: [ "main" ]
permissions:
  contents: read

jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Fix lint errors with https://github.com/charliermarsh/ruff
      - uses: install-pinned/ruff@4f20dc859896d63406f2843c13dff27100276683
      - run: ruff --fix-only .

      # Format code with https://github.com/psf/black
      - uses: install-pinned/black@98d42bad3459705a15b069b0f4dfd9e2b2d63a2b
      - run: black .

      - uses: autofix-ci/action@8bc06253bec489732e5f9c52884c7cace15c0160
